:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42aa;
  --gray: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;

  --raleway: 'Raleway', sans-serif;
  --roboto: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
}

/*DEFAULT*/
body {
  font-family: var(--roboto);
  color: var(--slate);
  background-color: var(--white);
}

nav {
  display: flex;
  align-items: center;
}

address {
  align-items: center;
}

img {
  display: block;
}

/*HEADER*/
.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.container {
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

/*LOGO*/
.web {
  font-family: var(--raleway);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.studio,
.hero {
  color: var(--navy-blue);
}

/*MENU*/
.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  display: flex;
  gap: 40px;
  padding: 24px 0 24px;
  position: relative;
}

.div-header ul li a::after {
  color: var(--ocean);
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-1 a,
.list-2 a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.menu:hover,
.menu:focus,
.address:hover,
.address:focus {
  color: var(--ocean);
}

/*ADDRESS*/
.address {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.list-1 {
  margin-right: 40px;
}

.list-2 {
  margin-right: 0px;
}

/*SECTION-1*/
.hero {
  display: flex;
  justify-content: center;
  background-color: var(--navy-blue);
  padding: 188px 0 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  align-items: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.button {
  background-color: var(--iris);
  color: var(--white);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--ocean);
}

/*SECTION-2*/
.section-two {
  padding: 120px 0 120px;
}

.icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  width: calc((100% - 72px) / 4);
}

.features-list li:last-child {
  margin-right: 0;
}

.our-features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
}

.features-paragraph {
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0em;
  text-align: left;
}

.information {
  margin-bottom: 8px;
}

.features {
  gap: 24px;
  margin-right: 24px;
  padding: 0;
}

/*SECTION-3*/
.section-three {
  padding-bottom: 120px;
}

.what_we_do-title,
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.what-we-do {
  display: flex;
  gap: 24px;
}

/*SECTION-4*/
.section-four {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-list {
  height: 100%;
  flex-basis: calc((100% - 72px) / 4);
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
  text-align: center;
  margin-bottom: 8px;
}

.team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 16px;
}

.employee {
  padding: 32px 0;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-list {
  width: 40px;
  height: 40px;
}

.social-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-icon {
  fill: #f4f4fd;
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--ocean);
}

/* SECTION-5 */
.section-five {
  padding: 120px 0;
}

.customer-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--gray);
  text-align: center;
  margin-bottom: 72px;
}

.customer-list {
  display: flex;
  gap: 24px;
}

.customer-icon {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);
}

.customer-link:hover,
.customer-link:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}

.customer-svg {
  fill: currentColor;
}

/*FOOTER*/
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0 100px;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  margin-right: 120px;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-studio {
  color: var(--cloud);
}

.footer-paragraph {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.socmed-footer-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.socmed-footer-list {
  display: flex;
  gap: 16px;
}

.socmed-footer {
  width: 40px;
  height: 40px;
}

.socmed-footer-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socmed-footer-link:hover,
.socmed-footer-link:focus {
  background-color: var(--green);
}

.footer-svg {
  fill: var(--cloud);
}

/* PORTFOLIO */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-lists-one {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-button {
  color: var(--iris);
  background-color: var(--cloud);
  padding: 12px 24px 12px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white);
  background-color: var(--ocean);
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-lists-two {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(3, 1fr); */
}

.portfolio-list-two-link {
  display: block;
}

.portfolio-list-two-link:hover,
.portfolio-list-two-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list {
  flex: 1;
  max-width: 360px;
}

.app {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-link {
  margin-bottom: 8px;
  font-size: 20px;
}

.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-bottom: 72px;
}
